/*/.LandingContainer {
    background-color: black;
    align-items: center;
    flex-wrap: nowrap;
}/*/

.Hello{
    font-size: small;

}

.Iam{
    font-size: medium;
}

.TitleLanding{

}

.BtnLanding{

}

