.LandingContainer {
    display: flex;
    min-height: 50vh;
    background-color: rgba(0, 0, 0, 0.708);
    border-radius: 1rem;
    margin-right: 2.5vh;
    margin-left: 2.5vh;
    margin-top: 2.5vh;
    overflow: hidden;
}

.welcomeContainer {
    margin: 3vh;
    margin-top: auto;
    margin-bottom: auto;

}

.textContainer p{
    margin-bottom: 0vh;
    margin-top: 0vh;
    font-size: 3vh;
}

.textContainer p:hover{
    color: #636926;
    scale: 1.01;
}

.textContainer h1{
    margin-bottom: 0vh;
    margin-top: 0vh;
    font-size: 12.5vh;
}

.textContainer h1:hover{
    scale: 1.01;
    color: #C7AA12;
}

.textContainer h2{
    margin-bottom: 8vh;
    margin-top: 0vh;
    font-size: 5vh;
    color: #920A0A;
}

.textContainer h2:hover{
    scale: 1.01;
    color: white;
}

.contact-icons {
    display: flex;
}
  
.contact-icons img {
    height: 10vh;
    margin-right: 5vh;
    border-radius: 1vh;
}

.contact-icons img:hover {
    scale: 1.02;
    color: white;
}

.imageContainer {
    margin-top: auto;
    margin-left: auto;
    padding: none;;
}

.imageContainer img{
    width: 120vh;
    padding: none;
    margin-bottom: -1vh;
}

@media only screen and (max-width: 768px) {
    .LandingContainer {
      flex-direction: column; /* Cambiado de nowrap a column para cambiar el diseño a columna en pantallas más pequeñas */
    }
  

  }