.skills-icons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    padding: 50px;
    background-color: rgba(0, 0, 0, 0.744);
    border-radius: 1rem;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    width: 185vh;
    height: 25vh;
  }
  
.skills-icons img {
    height: 20vh;
    margin: 10px;
  }

.skills-icons img:hover{
    height: 21vh;
    margin: 10px;
  }