.contact-container {
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.744);
    border-radius: 1rem;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  .contact-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-icons img {
    height: 10rem;
    margin: 30px;
  }

  .contact-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
  }
  