.contact-container {
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.744);
    border-radius: 1rem;
    margin-right: 2.5vh;
    margin-left: 2.5vh;
    margin-top: 2.5vh;
  }
  
.contact-icons {
    display: flex;
}
  
.contact-icons img {
    height: 10vh;
    margin-right: 5vh;
    border-radius: 1vh;
}

.contact-icons img:hover {
    scale: 1.4;
    color: white;
    transition: all 0.3s ease-in-out;
}

.contact-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
  }
  