.navBar-container {
    background-color: white;
  }
  
  .navBar-container ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around; /* Para distribuir los ítems en todo el ancho */
  }
  
  .navBar-container li {
    padding: 10px; /* Espacio alrededor de cada ítem */
  }
  
  .logo {
    max-width: 30px; /* Tamaño adecuado para los íconos */
  }
  